header
{
    padding: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: greenyellow;
    font-size: 40px;
    align-content: center;
    text-align: center;
}


